# 1. 忽略特定的配置文件
# 如果是单个文件，直接写文件名
#config.ini
data/*.inc

# 如果配置文件在一个文件夹里，比如 config/ 文件夹下的所有文件
#config/*

# 2. 忽略嵌入式 Python 运行时文件夹
# 文件夹名字后面加斜杠 / 表示忽略整个目录及其所有内容
python32/
@Resources/

# 3. (可选) 忽略所有 .pyc 编译文件和 __pycache__ 缓存文件夹
# 这是 Python 项目的最佳实践，防止提交垃圾文件
#*.pyc
#__pycache__/